{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-header">Add Poste</div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }} 
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}