{% extends "base.html" %}
{% block content %}

<div class="pt-10 overflow-y-hidden rounded-lg border">
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead>
                <tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
                    <th class="px-5 py-3">Image</th>
                    <th class="px-5 py-3">Title</th>
                    <th class="px-5 py-3">Place</th>
                    <th class="px-5 py-3">Date</th>
                    <th class="px-5 py-3">Creator</th>
                </tr>
            </thead>
            <tbody>
                {% for interest in interested_events %}
                <tr class="hover:bg-gray-100 cursor-pointer hover:bg-slate-400" onclick="window.location='{% url 'event_detail' id=interest.event.id %}'">
                    <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">
                        <img class="h-10 w-10 rounded-full object-cover" src="{{ interest.event.img.url }}" alt="{{ interest.event.title }}" />
                    </td>
                    <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">{{ interest.event.title }}</td>
                    <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">{{ interest.event.place }}</td>
                    <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">{{ interest.event.date_enev }}</td>
                    <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">{{ interest.event.user.first_name }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6 text-center">You have not shown interest in any events yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
